name: Deploy Backend to Heroku

on:
  push:
    branches: [ master ]
    paths:
      - 'rbai_server/**'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Deploy Backend to Heroku
        uses: akhileshns/heroku-deploy@v3.13.15
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "rbai-server"
          heroku_email: "khestermesa@gmail.com"
          appdir: "rbai_server"
          buildpack: "heroku/python"
